* {
    font-family: verdana, arial, sans-serif;
}:

 #toc {
    border:1px solid #aaaaaa;
    background-color:#f9f9f9;
    padding:5px;
}

h1, h2, h3, h4, h5, h6 {
	color: black;
	background: none;
	font-weight: normal;
	margin: 0;
	padding-top: .5em;
	padding-bottom: .17em;
	border-bottom: 1px solid #aaa;
}
h1 { font-size: 120%; }
h2 { font-size: 110%; }
h3, h4, h5, h6 {
	border-bottom: none;
}
h3 { font-size: 100%; }
h4 { font-size: 90%; }
h5 { font-size: 80%; }
h6 { font-size: 70%;  }

pre {
	background-color:#F9F9F9;
	border:1px dashed #2F6FAB;
	color:black;
	line-height:0.8em;
	padding:0.8em;
}

table {
    color:#333333;
    border-width: 1px;
    border-color: #666666;
    border-collapse: collapse;
}
table th {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #666666;
    background-color: #dedede;
}
table td {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #666666;
    background-color: #ffffff;
}
